

@media (min-width: 700px) {
    #hometext {
        font-size: 4rem;
    }

    #blogdetailtitle {
        font-size: 5rem;
    }

    #blogtitle {
        font-size: 4rem;
    }

}

@media (max-width: 699px) {
    #hometext {
        font-size: 4rem;
    }

    #blogdetailtitle {
        font-size: 5rem;
    }

    #blogtitle {
        font-size: 4rem;
    }

}